@tailwind base;
@tailwind components;
@tailwind utilities;

.main-sidebar::-webkit-scrollbar {
    width: 0.25em;
  }
   
  .main-sidebar::-webkit-scrollbar-track {
    
  }
   
  .main-sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(219, 219, 219);
    border-radius: 50px;
  }

  .toast{
      width: 25vw !important;
      opacity:1 !important;
  }